<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<div id="wrap">
    <form action="loginSuccess.ejs">
        <input type="text" placeholder="请输入已验证手机或邮箱" id="input1"><br>
        <input type="text" placeholder="请输入密码" id="input2"><br>
        <label>忘记密码?</label><br>
        <input type="submit" id="mySubmit" value="登录">
    </form>
</div>
</body>
</html>