<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>

</head>
<body>
<div id="wrap">
  <div id="click_top">
    <div id="click_top_div">
      <img src="images/top.png" width="52" height="52" alt="">
    </div>

  </div>
  <div id="top">
    <div id="top_left">

    </div>
    <ul id="top_mid">
      <li>首页</li>
      <li>阅读</li>
      <li>电台</li>
      <li>碎片</li>
      <li>客户端</li>
    </ul>

    <div id="top_right">
      <div id="pen">
        <img src="images/pen.jpg" alt="">
      </div>
      <div id="login">
        登录 / 注册
      </div>
    </div>
  </div>
  <div id="body">
    <div id="body_top">
      <div id="body_top_left">
        <img src="images/a1.jpg" alt="">
        <div class="body_top_left_hover">
          &nbsp;&nbsp;&nbsp;&nbsp ——<br>
          &nbsp;&nbsp;&nbsp;&nbsp;这样锻炼，你才会掌握说话的力量
        </div>
      </div>
      <div id="body_top_right">
        <div class="body_top_right_img">
          <img src="images/a2.jpg" alt="">
          <div class="body_top_right_hover">
            &nbsp;&nbsp;&nbsp;&nbsp ——<br>
            &nbsp;&nbsp;&nbsp;&nbsp;有社交恐惧症的你，该怎么克服？
          </div>
        </div>
        <div class="body_top_right_img">
          <img src="images/a3.jpg" alt="">
          <div class="body_top_right_hover">
            &nbsp;&nbsp;&nbsp;&nbsp ——<br>
            &nbsp;&nbsp;&nbsp;&nbsp;怎样找到自己真正想做的事？
          </div>
        </div>
        <div class="body_top_right_img">
          <img src="images/a4.jpg" alt="">
          <div class="body_top_right_hover">
            &nbsp;&nbsp;&nbsp;&nbsp ——<br>
            &nbsp;&nbsp;&nbsp;&nbsp;坚持写手帐135天，生活发生了哪些<br>
            &nbsp;&nbsp;&nbsp;&nbsp;改变？
          </div>
        </div>
        <div class="body_top_right_img">
          <img src="images/a5.jpg" alt="">
          <div class="body_top_right_hover">
            &nbsp;&nbsp;&nbsp;&nbsp ——<br>
            &nbsp;&nbsp;&nbsp;&nbsp;外公的两条命
          </div>
        </div>
      </div>
    </div>
    <div id="body_read">
      <div class="body_square">
        <img src="images/square.png" alt="">
        <span> 阅读 | Read</span>
      </div>
      <ul id="myUl2">
        <li>
          <div class="myUl2_left">
            <div class="div1">当我谈跑步时，我在谈爱情</div>
            <div class="div2">By / 失足少年七千</div>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;————<br>
            <p class="p1">
              1. “一个人挥刀的速度，不在于他有多恨那个人。” “有的人在挥刀之前，会犹豫不决。” “有的人发觉自己有些动摇时，反而更快地作出决定 <span> VIEW ALL ▶</span>
            </p>

            <div class="div3">1.2 k次阅读 &nbsp;&nbsp;|&nbsp;&nbsp; 评论:8&nbsp; &nbsp;|&nbsp;&nbsp; 喜欢:73</div>
          </div>
          <div class="myUl2_right">
            <img src="images/b1.gif" alt="">
          </div>
        </li>
        <li>
          <div class="myUl2_left">
            <div class="div1">当我谈跑步时，我在谈爱情</div>
            <div class="div2">By / 失足少年七千</div>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;————<br>
            <p class="p1">
              1. “一个人挥刀的速度，不在于他有多恨那个人。” “有的人在挥刀之前，会犹豫不决。” “有的人发觉自己有些动摇时，反而更快地作出决定 <span> VIEW ALL ▶</span>
            </p>

            <div class="div3">1.2 k次阅读 &nbsp;&nbsp;|&nbsp;&nbsp; 评论:8&nbsp; &nbsp;|&nbsp;&nbsp; 喜欢:73</div>
          </div>
          <div class="myUl2_right">
            <img src="images/b2.jpg" alt="">
          </div>
        </li>
        <li>
          <div class="myUl2_left">
            <div class="div1">当我谈跑步时，我在谈爱情</div>
            <div class="div2">By / 失足少年七千</div>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;————<br>
            <p class="p1">
              1. “一个人挥刀的速度，不在于他有多恨那个人。” “有的人在挥刀之前，会犹豫不决。” “有的人发觉自己有些动摇时，反而更快地作出决定 <span> VIEW ALL ▶</span>
            </p>

            <div class="div3">1.2 k次阅读 &nbsp;&nbsp;|&nbsp;&nbsp; 评论:8&nbsp; &nbsp;|&nbsp;&nbsp; 喜欢:73</div>
          </div>
          <div class="myUl2_right">
            <img src="images/b3.jpg" alt="">
          </div>
        </li>
      </ul>
    </div>
    <div id="ting">
      <div class="body_square">
        <img src="images/square.png" alt="">
        <span> TING</span>
      </div>
      <div id="voice">
        <ul id="myUl3">
          <li>
            <div class="voice_1">
              <div class="my_voice">
                <img src="images/c1.jpg" class="img_c1" alt="">
                <div class="voice_1_hover"></div>
                <img src="images/c4.png" class="img_c2" alt="">
              </div>
            </div>
            <div class="voice_title">
              <div class="div1">他不爱我</div>
              <div class="div2">主播 / NJ文珂</div>
              <div class="div3">254.0 k次播放 &nbsp;&nbsp;|&nbsp;&nbsp; 评论:68 &nbsp;&nbsp;|&nbsp;&nbsp;
                喜欢:1.0 k
              </div>
            </div>
          </li>
          <li>
            <div class="voice_1">
              <div class="my_voice">
                <img src="images/c2.jpg" class="img_c1" alt="">
                <div class="voice_1_hover"></div>
                <img src="images/c4.png" class="img_c2" alt="">
              </div>
            </div>
            <div class="voice_title">
              <div class="div1">他不爱我</div>
              <div class="div2">主播 / NJ文珂</div>
              <div class="div3">254.0 k次播放 &nbsp;&nbsp;|&nbsp;&nbsp; 评论:68 &nbsp;&nbsp;|&nbsp;&nbsp;
                喜欢:1.0 k
              </div>
            </div>
          </li>
          <li>
            <div class="voice_1">
              <div class="my_voice">
                <img src="images/c3.jpg" class="img_c1" alt="">
                <div class="voice_1_hover"></div>
                <img src="images/c4.png" class="img_c2" alt="">
              </div>
            </div>
            <div class="voice_title">
              <div class="div1">他不爱我</div>
              <div class="div2">主播 / NJ文珂</div>
              <div class="div3">254.0 k次播放 &nbsp;&nbsp;|&nbsp;&nbsp; 评论:68 &nbsp;&nbsp;|&nbsp;&nbsp;
                喜欢:1.0 k
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="hot">
      <div class="body_square">
        <img src="images/square.png" alt="">
        <span>人气片客 | Hot Pianker</span>
      </div>
      <div id="body_hot">
        <ul id="myUl4">
          <li>
            <div class="my_hot_left">
              <img src="images/d1.jpg" class="my_hot_img1" alt="">
              <img src="images/d5.jpg" class="my_hot_img2" alt="">
            </div>
            <div class="my_hot_right">
              <div class="div1" style="font-size: 1.1em">&nbsp;王睿 Ray</div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——<br>
              <div class="div3">流行歌手王睿</div>
            </div>
          </li>
          <li>
            <div class="my_hot_left">
              <img src="images/d2.jpg" class="my_hot_img1" alt="">
              <img src="images/d5.jpg" class="my_hot_img2" alt="">
            </div>
            <div class="my_hot_right">
              <div class="div1" style="font-size: 1.1em">&nbsp;王睿 Ray</div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——<br>
              <div class="div3">流行歌手王睿</div>
            </div>
          </li>
          <li>
            <div class="my_hot_left">
              <img src="images/d3.jpg" class="my_hot_img1" alt="">
              <img src="images/d5.jpg" class="my_hot_img2" alt="">
            </div>
            <div class="my_hot_right">
              <div class="div1" style="font-size: 1.1em">&nbsp;王睿 Ray</div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——<br>
              <div class="div3">流行歌手王睿</div>
            </div>
          </li>
          <li>
            <div class="my_hot_left">
              <img src="images/d4.jpg" class="my_hot_img1" alt="">
              <img src="images/d5.jpg" class="my_hot_img2" alt="">
            </div>
            <div class="my_hot_right">
              <div class="div1" style="font-size: 1.1em">&nbsp;王睿 Ray</div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——<br>
              <div class="div3">流行歌手王睿</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="more">
      <div class="more_green">
        <div class="more_green_div">查看更多精彩内容</div>
      </div>
    </div>
    <div class="my_hr">
      <img src= "images/line-bg.png" class="my_hr_img1" alt="">
      <div  class="my_hr_img2"><img src="images/square.png" alt=""><span>往期精选</span></div>
    </div>
    <!--<div id="water"></div>-->

  </div>
  <div id="bottom">
    <div id="bottom_left"></div>
    <div id="bottom_mid">
      <div id="bottom_mid_about">
        关于我们 &nbsp&nbsp友情链接 &nbsp&nbsp片刻帮助&nbsp&nbsp 意见反馈&nbsp&nbsp 成长记忆
      </div>

      <div id="bottom_mid_all">All rights reserved © 2016 pianke.me /蜀ICP备12022689号-1</div>
    </div>
    <div id="bottom_right">
      <div id="bottom_right_1"></div>
      <div id="bottom_right_2"></div>
      <div id="bottom_right_3"></div>
      <div id="bottom_right_4">
        <img src="images/h7.png" width="86" height="44" alt="">
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="../javascripts/js.js"></script>


</body>
</html>
