<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>

<div id="myDiv">
  <label>welcome</label>
  <div id="smallDiv">

    <form action="loginSuccess" method="get" id="theForm">

      <input type="text" class="myInput" name="userName" id="input1" placeholder="请输入用户名">
      <br>

      <input type="password" class="myInput" name="passWord" id="input2" placeholder="请输入密码">
      <br>
      <input type="submit" class="myInput" value="登录" id="input3">
    </form>
  </div>
  <div id="div2">
    <a href="" id="a1">注册</a>
    <a href="" id="a2">忘记密码</a>
  </div>


</div>

<script src="../javascripts/index.js"></script>
</body>
</html>
